---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---

<h1 class="text-6xl font-semibold mb-10 mt-10">Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
