---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<p class="p-5 border rounded-md bg-grey-200 text-xl sm:text-2xl "> JavaScript is most important language in the world. There are ~7 billion people on the planet Earth, all speaking somewhat similar or less similar languages, but all the browsers in the world speak 3 most important - HTML, CSS and JavaScript. We write about JavaScriptization of the world. </p>


{% set maxPosts = collections.posts.length | min(3) %}
<h1 class="italic text-2xl font-semibold mb-10 mt-10 text-gray-500">Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a class="underline italic" href="{{ '/posts/' | url }}">the archive</a>. Yes, this is <a href="https://11ty.dev" target="_blank">Eleventy</a>.</p>
