<ol reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <li class="text-2xl font-semibold mb-5 postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <time class="postlist-date text-base font-normal bg-gray-200 p-1 rounded-sm" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    {% for tag in post.data.tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="text-md post-tag bg-red-600 text-sm font-normal text-white p-1 rounded-sm">{{ tag }}</a><hr class="mt-4"/ >
      {%- endif -%}
    {% endfor %}
  </li>
{% endfor %}
</ol>
