---
layout: layouts/base.njk
templateClass: mb-10 mx-auto max-w-screen-lg
---
<h1 class="text-4xl md:text-6xl font-semibold mb-20 mt-20">{{ title }}</h1>

<div class="text-lg md:text-2xl">
{{ content | safe }}
</div>

<hr class="mt-10">
<ul>
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li>Next: <a class="italic underline" href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li>Previous: <a class="italic underline" href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
